<h1>{{ 'email.confirm.heading'|trans }}</h1>

<p>
    {{ 'email.confirm.intro'|trans }} <br><br>
    <a href="{{ signedUrl|raw }}">{{ 'email.confirm.link'|trans }}</a>.
    {{ 'email.confirm.expiration'|trans({'%duration%': expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle')}) }}
</p>

<p>
    {{ 'email.confirm.signature'|trans }}
</p>
