<h1>{{ 'email.reset.heading'|trans }}</h1>

<p>
    {{ 'email.reset.intro'|trans }} <br><br>
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ 'email.reset.link'|trans }}</a>.
    {{ 'email.reset.expiration'|trans({'%duration%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')}) }}
</p>

<p>
    {{ 'email.reset.ignore'|trans }}
</p>

<p>
    {{ 'email.reset.signature'|trans }}
</p>
